#creature-form {
    background: aliceblue;
    padding: 20px;
    margin: 50px;
}

#creature-form DIV {
    margin-bottom: 10px;
}

#creature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px;
}

#creature-list>DIV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.creature-body {
    background: pink;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}